In [2]:
import pandas as pd

In [14]:
myDataFrame = pd.read_csv("./data/patriots.csv", index_col= "Player")
myDataFrame.head()

,Year,Rnd,Pick,Pos,To,AP1,PB,St,wAV,G,...,Att.1,Yds.1,TD.1,Rec,Yds.2,TD.2,Int.1,Sk,College/Univ,-9999
Player,,,,,,,,,,,,,,,,,,,,,
Drake Maye,2024,1,3,QB,2024.0,0,0,1,0.0,9.0,...,38.0,345.0,1.0,NaN,NaN,0.0,NaN,NaN,North Carolina,MayeDr00
Ja'Lynn Polk,2024,2,37,WR,2024.0,0,0,1,0.0,12.0,...,1.0,0.0,0.0,12.0,87.0,2.0,NaN,NaN,Washington,PolkJa00
Caedan Wallace,2024,3,68,OL,2024.0,0,0,0,0.0,4.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Penn St.,WallCa00
Layden Robinson,2024,4,103,OL,2024.0,0,0,1,0.0,9.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Texas A&M,RobiLa02
Javon Baker,2024,4,110,WR,2024.0,0,0,0,0.0,8.0,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,Central Florida,BakeJa00

In [6]:
position = myDataFrame ["Pos"]
position

Player
Drake Maye         QB
Ja'Lynn Polk       WR
Caedan Wallace     OL
Layden Robinson    OL
Javon Baker        WR
                   ..
Shaq Mason          C
Joe Cardona        LS
Matthew Wells      LB
A.J. Derby         TE
Darryl Roberts     CB
Name: Pos, Length: 90, dtype: object

In [8]:
games = myDataFrame ["G"]
games

Player
Drake Maye           9.0
Ja'Lynn Polk        12.0
Caedan Wallace       4.0
Layden Robinson      9.0
Javon Baker          8.0
                   ...
Shaq Mason         150.0
Joe Cardona        156.0
Matthew Wells        NaN
A.J. Derby          25.0
Darryl Roberts      73.0
Name: G, Length: 90, dtype: float64

In [10]:
sortedGames = games.sort_values()
sortedGames.head()

Player
William Sherman    1.0
Caedan Wallace     4.0
Joshuah Bledsoe    4.0
Andrew Stueber     4.0
Dalton Keene       7.0
Name: G, dtype: float64

In [12]:
myDataFrame["G"].max()

156.0

In [16]:
draft_columns = [ 'G', 'Pos', 'Rnd', 'Year', 'Pick']
myDataFrame[draft_columns]

                     G Pos  Rnd  Year  Pick
Player
Drake Maye         9.0  QB    1  2024     3
Ja'Lynn Polk      12.0  WR    2  2024    37
Caedan Wallace     4.0  OL    3  2024    68
Layden Robinson    9.0  OL    4  2024   103
Javon Baker        8.0  WR    4  2024   110
...                ...  ..  ...   ...   ...
Shaq Mason       150.0   C    4  2015   131
Joe Cardona      156.0  LS    5  2015   166
Matthew Wells      NaN  LB    6  2015   178
A.J. Derby        25.0  TE    6  2015   202
Darryl Roberts    73.0  CB    7  2015   247

[90 rows x 5 columns]

In [18]:

average_gamesround = myDataFrame.groupby(['Rnd'])['G'].mean()

# Display the result
print(average_gamesround)

Rnd
1    46.375000
2    43.400000
3    38.133333
4    42.812500
5    68.500000
6    45.222222
7    29.857143
Name: G, dtype: float64

In [20]:

average_gamesposition = myDataFrame.groupby(['Pos'])['G'].mean()

# Display the result
print(average_gamesposition)

Pos
C      150.000000
CB      35.333333
DB      22.750000
DE      48.142857
DL      38.000000
DT      56.000000
G       85.800000
ILB    109.000000
K       25.000000
LB      37.000000
LS     156.000000
OL      13.250000
OLB    127.000000
P       58.500000
QB      34.800000
RB      42.600000
S       53.333333
T       39.500000
TE      16.800000
WR      30.125000
Name: G, dtype: float64

In [62]:
# Filter for first-round picks
first_round_picks = myDataFrame[myDataFrame['Rnd'] == 1]

# Count the number of first-round picks
num_first_round_picks = len(first_round_picks)

print(f"Number of first-round picks: {num_first_round_picks}")

Number of first-round picks: 8

In [51]:
position_groups = {
    'C': ('Lineman', 'Offense'), 'DE': ('Lineman', 'Defense'), 'DL': ('Lineman', 'Defense'),
    'DT': ('Lineman', 'Defense'), 'FB': ('Lineman', 'Offense'), 'G': ('Lineman', 'Offense'),
    'OL': ('Lineman', 'Offense'), 'T': ('Lineman', 'Offense'),

    'LB': ('Mids', 'Defense'), 'OLB': ('Mids', 'Defense'),'ILB': ('Mids', 'Defense'),
    'P': ('Mids', 'Special Teams'), 'K': ('Mids', 'Special Teams'),'LS': ('Mids', 'Special Teams'),'TE': ('Mids', 'Offense'), 'RB': ('Mids', 'Offense'),

    'CB': ('Skills', 'Defense'), 'DB': ('Skills', 'Defense'),
    'QB': ('Skills', 'Offense'),
    'S': ('Skills', 'Defense'), 'SAF': ('Skills', 'Defense'),
    'WR': ('Skills', 'Offense')
}

In [53]:
position_groups

{'C': ('Lineman', 'Offense'),
 'DE': ('Lineman', 'Defense'),
 'DL': ('Lineman', 'Defense'),
 'DT': ('Lineman', 'Defense'),
 'FB': ('Lineman', 'Offense'),
 'G': ('Lineman', 'Offense'),
 'OL': ('Lineman', 'Offense'),
 'T': ('Lineman', 'Offense'),
 'LB': ('Mids', 'Defense'),
 'OLB': ('Mids', 'Defense'),
 'ILB': ('Mids', 'Defense'),
 'P': ('Mids', 'Special Teams'),
 'K': ('Mids', 'Special Teams'),
 'LS': ('Mids', 'Special Teams'),
 'TE': ('Mids', 'Offense'),
 'RB': ('Mids', 'Offense'),
 'CB': ('Skills', 'Defense'),
 'DB': ('Skills', 'Defense'),
 'QB': ('Skills', 'Offense'),
 'S': ('Skills', 'Defense'),
 'SAF': ('Skills', 'Defense'),
 'WR': ('Skills', 'Offense')}

In [55]:
# Map positions to group and side
myDataFrame['Group'] = myDataFrame['Pos'].map(lambda x: position_groups[x][0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda x: position_groups[x][1])

In [57]:
grouped_counts = myDataFrame.groupby(['Group', 'Side']).size()
print(grouped_counts)

Group    Side
Lineman  Defense          12
         Offense          21
Mids     Defense           9
         Offense          10
         Special Teams     5
Skills   Defense          16
         Offense          17
dtype: int64

In [59]:
# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

total_players = len(myDataFrame)

num_above_34 = len(players_above_34)

percentage_above_34 = (num_above_34 / total_players) * 100
print(f"Percentage of players who played more than 34 games: {percentage_above_34:.2f}%")

Percentage of players who played more than 34 games: 40.00%

In [121]:
# Map positions to group categories (Bigs, Mids, Skills)
position_groups = {
    'C': 'Lineman', 'DE': 'Lineman', 'DL': 'Lineman', 'DT': 'Lineman',
    'FB': 'Lineman', 'G': 'Lineman', 'OL': 'Lineman', 'T': 'Lineman',
    'LB': 'Mids', 'OLB': 'Mids', 'P': 'Mids', 'TE': 'Mids',
    'CB': 'Skills', 'DB': 'Skills', 'QB': 'Skills',
    'RB': 'Skills', 'S': 'Skills', 'SAF': 'Skills', 'WR': 'Skills'
}

# Add the 'Group' column to the DataFrame
myDataFrame['Group'] = myDataFrame['Pos'].map(position_groups)

# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

# Group by round and position group to calculate the number of players who played more than 34 games
grouped_above_34 = players_above_34.groupby(['Rnd', 'Group']).size()

# Group by round and position group to get total number of players
total_grouped = myDataFrame.groupby(['Rnd', 'Group']).size()

# Calculate the percentage of players who played more than 34 games by round and group
percentage_above_34 = (grouped_above_34 / total_grouped) * 100
print(percentage_above_34)


above34count = (grouped_above_34)
print(above34count)

Rnd  Group
1    Lineman    100.000000
     Mids       100.000000
     Skills      75.000000
2    Lineman     50.000000
     Mids        66.666667
     Skills     100.000000
3    Lineman     80.000000
     Mids        50.000000
     Skills     100.000000
4    Lineman     62.500000
     Mids        75.000000
     Skills      42.857143
5    Lineman     42.857143
     Mids       100.000000
     Skills            NaN
6    Lineman     33.333333
     Skills      55.555556
7    Lineman     33.333333
     Skills      50.000000
dtype: float64
Rnd  Group
1    Lineman    3
     Mids       2
     Skills     6
2    Lineman    1
     Mids       2
     Skills     1
3    Lineman    8
     Mids       2
     Skills     3
4    Lineman    5
     Mids       3
     Skills     6
5    Lineman    3
     Mids       1
6    Lineman    1
     Skills     5
7    Lineman    1
     Skills     1
dtype: int64