In [2]:
import pandas as pd

In [4]:
myDataFrame = pd.read_csv("./data/niners.csv", index_col= "Player")
myDataFrame.head()

,Year,Rnd,Pick,Pos,To,AP1,PB,St,wAV,G,...,Att.1,Yds.1,TD.1,Rec,Yds.2,TD.2,Int.1,Sk,College/Univ,-9999
Player,,,,,,,,,,,,,,,,,,,,,
Ricky Pearsall,2024,1,31,WR,2024.0,0,0,0,0.0,6.0,...,1.0,39.0,0.0,11.0,132.0,1.0,NaN,NaN,Florida,PearRi00
Renardo Green,2024,2,64,DB,2024.0,0,0,0,0.0,12.0,...,NaN,NaN,0.0,NaN,NaN,0.0,1.0,NaN,Florida St.,GreeRe00
Dominick Puni,2024,3,86,OL,2024.0,0,0,1,0.0,12.0,...,NaN,NaN,0.0,0.0,-3.0,0.0,NaN,NaN,Kansas,PuniDo00
Malik Mustapha,2024,4,124,DB,2024.0,0,0,1,0.0,12.0,...,NaN,NaN,0.0,NaN,NaN,0.0,1.0,NaN,Wake Forest,MustMa00
Isaac Guerendo,2024,4,129,RB,2024.0,0,0,0,0.0,12.0,...,42.0,246.0,2.0,5.0,19.0,0.0,NaN,NaN,Louisville,GuerIs00

In [6]:
position = myDataFrame ["Pos"]
position

Player
Ricky Pearsall     WR
Renardo Green      DB
Dominick Puni      OL
Malik Mustapha     DB
Isaac Guerendo     RB
                   ..
DeAndre Smelter    WR
Bradley Pinion      P
Ian Silberman       G
Trent Brown         G
Rory Anderson      TE
Name: Pos, Length: 87, dtype: object

In [8]:
games = myDataFrame ["G"]
games

Player
Ricky Pearsall       6.0
Renardo Green       12.0
Dominick Puni       12.0
Malik Mustapha      12.0
Isaac Guerendo      12.0
                   ...
DeAndre Smelter      2.0
Bradley Pinion     157.0
Ian Silberman        3.0
Trent Brown        103.0
Rory Anderson        NaN
Name: G, Length: 87, dtype: float64

In [10]:
sortedGames = games.sort_values()
sortedGames.head()

Player
Prince Charles Iworah    1.0
DeAndre Smelter          2.0
Tim Harris               3.0
Ian Silberman            3.0
John Theus               4.0
Name: G, dtype: float64

In [12]:
myDataFrame["G"].max()

157.0

In [14]:
draft_columns = [ 'G', 'Pos', 'Rnd', 'Year', 'Pick']
myDataFrame[draft_columns]

                     G Pos  Rnd  Year  Pick
Player
Ricky Pearsall     6.0  WR    1  2024    31
Renardo Green     12.0  DB    2  2024    64
Dominick Puni     12.0  OL    3  2024    86
Malik Mustapha    12.0  DB    4  2024   124
Isaac Guerendo    12.0  RB    4  2024   129
...                ...  ..  ...   ...   ...
DeAndre Smelter    2.0  WR    4  2015   132
Bradley Pinion   157.0   P    5  2015   165
Ian Silberman      3.0   G    6  2015   190
Trent Brown      103.0   G    7  2015   244
Rory Anderson      NaN  TE    7  2015   254

[87 rows x 5 columns]

In [18]:

average_gamesround = myDataFrame.groupby(['Rnd'])['G'].mean()

# Display the result
print(average_gamesround)

Rnd
1    66.000000
2    49.333333
3    42.923077
4    49.600000
5    59.642857
6    31.000000
7    33.727273
Name: G, dtype: float64

In [20]:

average_gamesposition = myDataFrame.groupby(['Pos'])['G'].mean()

# Display the result
print(average_gamesposition)

Pos
CB      38.800000
DB      27.250000
DE      95.000000
DT      63.666667
G       43.666667
K       26.000000
LB      28.000000
OL      26.000000
OLB     44.200000
P      124.500000
QB      25.750000
RB      34.200000
S       48.333333
T       53.600000
TE      69.200000
WR      39.333333
Name: G, dtype: float64

In [22]:
# Filter for first-round picks
first_round_picks = myDataFrame[myDataFrame['Rnd'] == 1]

# Count the number of first-round picks
num_first_round_picks = len(first_round_picks)

print(f"Number of first-round picks: {num_first_round_picks}")

Number of first-round picks: 11

In [24]:
position_groups = {
    'C': ('Lineman', 'Offense'), 'DE': ('Lineman', 'Defense'), 'DL': ('Lineman', 'Defense'),
    'DT': ('Lineman', 'Defense'), 'FB': ('Lineman', 'Offense'), 'G': ('Lineman', 'Offense'),
    'OL': ('Lineman', 'Offense'), 'T': ('Lineman', 'Offense'),

    'LB': ('Mids', 'Defense'), 'OLB': ('Mids', 'Defense'),'ILB': ('Mids', 'Defense'),
    'P': ('Mids', 'Special Teams'), 'K': ('Mids', 'Special Teams'),'LS': ('Mids', 'Special Teams'),'TE': ('Mids', 'Offense'), 'RB': ('Mids', 'Offense'),

    'CB': ('Skills', 'Defense'), 'DB': ('Skills', 'Defense'),
    'QB': ('Skills', 'Offense'),
    'S': ('Skills', 'Defense'), 'SAF': ('Skills', 'Defense'),
    'WR': ('Skills', 'Offense')
}

In [28]:
position_groups

{'C': ('Lineman', 'Offense'),
 'DE': ('Lineman', 'Defense'),
 'DL': ('Lineman', 'Defense'),
 'DT': ('Lineman', 'Defense'),
 'FB': ('Lineman', 'Offense'),
 'G': ('Lineman', 'Offense'),
 'OL': ('Lineman', 'Offense'),
 'T': ('Lineman', 'Offense'),
 'LB': ('Mids', 'Defense'),
 'OLB': ('Mids', 'Defense'),
 'ILB': ('Mids', 'Defense'),
 'P': ('Mids', 'Special Teams'),
 'K': ('Mids', 'Special Teams'),
 'LS': ('Mids', 'Special Teams'),
 'TE': ('Mids', 'Offense'),
 'RB': ('Mids', 'Offense'),
 'CB': ('Skills', 'Defense'),
 'DB': ('Skills', 'Defense'),
 'QB': ('Skills', 'Offense'),
 'S': ('Skills', 'Defense'),
 'SAF': ('Skills', 'Defense'),
 'WR': ('Skills', 'Offense')}

In [30]:
# Map positions to group and side
myDataFrame['Group'] = myDataFrame['Pos'].map(lambda x: position_groups[x][0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda x: position_groups[x][1])

In [32]:
grouped_counts = myDataFrame.groupby(['Group', 'Side']).size()
print(grouped_counts)

Group    Side
Lineman  Defense          10
         Offense          14
Mids     Defense           9
         Offense          14
         Special Teams     3
Skills   Defense          20
         Offense          17
dtype: int64

In [34]:
# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

total_players = len(myDataFrame)

num_above_34 = len(players_above_34)

percentage_above_34 = (num_above_34 / total_players) * 100
print(f"Percentage of players who played more than 34 games: {percentage_above_34:.2f}%")

Percentage of players who played more than 34 games: 50.57%

In [36]:
# Map positions to group categories (Bigs, Mids, Skills)
position_groups = {
    'C': 'Lineman', 'DE': 'Lineman', 'DL': 'Lineman', 'DT': 'Lineman',
    'FB': 'Lineman', 'G': 'Lineman', 'OL': 'Lineman', 'T': 'Lineman',
    'LB': 'Mids', 'OLB': 'Mids', 'P': 'Mids', 'TE': 'Mids',
    'CB': 'Skills', 'DB': 'Skills', 'QB': 'Skills',
    'RB': 'Skills', 'S': 'Skills', 'SAF': 'Skills', 'WR': 'Skills'
}

# Add the 'Group' column to the DataFrame
myDataFrame['Group'] = myDataFrame['Pos'].map(position_groups)

# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

# Group by round and position group to calculate the number of players who played more than 34 games
grouped_above_34 = players_above_34.groupby(['Rnd', 'Group']).size()

# Group by round and position group to get total number of players
total_grouped = myDataFrame.groupby(['Rnd', 'Group']).size()

# Calculate the percentage of players who played more than 34 games by round and group
percentage_above_34 = (grouped_above_34 / total_grouped) * 100
print(percentage_above_34)


above34count = (grouped_above_34)
print(above34count)

Rnd  Group
1    Lineman     85.714286
     Mids              NaN
     Skills      33.333333
2    Lineman    100.000000
     Mids              NaN
     Skills      75.000000
3    Lineman           NaN
     Mids        66.666667
     Skills      50.000000
4    Lineman    100.000000
     Mids       100.000000
     Skills      28.571429
5    Lineman     60.000000
     Mids        75.000000
     Skills      83.333333
6    Lineman     33.333333
     Mids        25.000000
     Skills      14.285714
7    Lineman     50.000000
     Mids              NaN
     Skills      57.142857
dtype: float64
Rnd  Group
1    Lineman    6
     Skills     1
2    Lineman    1
     Skills     3
3    Mids       2
     Skills     5
4    Lineman    2
     Mids       2
     Skills     2
5    Lineman    3
     Mids       3
     Skills     5
6    Lineman    2
     Mids       1
     Skills     1
7    Lineman    1
     Skills     4
dtype: int64