In [5]:
import pandas as pd

In [13]:
myDataFrame = pd.read_csv("./data/raiders.csv", index_col= "Player")
myDataFrame.head()

,Year,Rnd,Pick,Pos,To,AP1,PB,St,wAV,G,...,Att.1,Yds.1,TD.1,Rec,Yds.2,TD.2,Int.1,Sk,College/Univ,-9999
Player,,,,,,,,,,,,,,,,,,,,,
Brock Bowers,2024,1,13,TE,2024.0,0,0,1,0.0,12.0,...,3.0,11.0,0.0,84.0,884.0,4.0,NaN,NaN,Georgia,BoweBr01
Jackson Powers-Johnson,2024,2,44,OL,2024.0,0,0,1,0.0,10.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Oregon,PoweJa00
Delmar Glaze,2024,3,77,OL,2024.0,0,0,1,0.0,12.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Maryland,GlazDe00
Decamerion Richardson,2024,4,112,CB,2024.0,0,0,0,0.0,7.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Mississippi St.,RichDe01
Tommy Eichenberg,2024,5,148,LB,2024.0,0,0,0,0.0,9.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Ohio St.,EichTo00

In [15]:
position = myDataFrame ["Pos"]
position

Player
Brock Bowers               TE
Jackson Powers-Johnson     OL
Delmar Glaze               OL
Decamerion Richardson      CB
Tommy Eichenberg           LB
                         ...
Neiron Ball               OLB
Max Valles                OLB
Anthony Morris             OL
Andre Debose               WR
Dexter McDonald            CB
Name: Pos, Length: 81, dtype: object

In [17]:
games = myDataFrame ["G"]
games

Player
Brock Bowers              12.0
Jackson Powers-Johnson    10.0
Delmar Glaze              12.0
Decamerion Richardson      7.0
Tommy Eichenberg           9.0
                          ...
Neiron Ball                6.0
Max Valles                 NaN
Anthony Morris             NaN
Andre Debose               NaN
Dexter McDonald           27.0
Name: G, Length: 81, dtype: float64

In [19]:
sortedGames = games.sort_values()
sortedGames.head()

Player
Jylan Ware     1.0
Elijah Hood    1.0
Connor Cook    1.0
Trey Taylor    4.0
Dylan Laube    5.0
Name: G, dtype: float64

In [21]:
myDataFrame["G"].max()

150.0

In [23]:
draft_columns = [ 'G', 'Pos', 'Rnd', 'Year', 'Pick']
myDataFrame[draft_columns]

                           G  Pos  Rnd  Year  Pick
Player
Brock Bowers            12.0   TE    1  2024    13
Jackson Powers-Johnson  10.0   OL    2  2024    44
Delmar Glaze            12.0   OL    3  2024    77
Decamerion Richardson    7.0   CB    4  2024   112
Tommy Eichenberg         9.0   LB    5  2024   148
...                      ...  ...  ...   ...   ...
Neiron Ball              6.0  OLB    5  2015   161
Max Valles               NaN  OLB    6  2015   179
Anthony Morris           NaN   OL    7  2015   218
Andre Debose             NaN   WR    7  2015   221
Dexter McDonald         27.0   CB    7  2015   242

[81 rows x 5 columns]

In [27]:

average_gamesround = myDataFrame.groupby(['Rnd'])['G'].mean()

# Display the result
print(average_gamesround)

Rnd
1    55.750000
2    52.625000
3    39.714286
4    41.200000
5    35.090909
6    16.666667
7    18.384615
Name: G, dtype: float64

In [29]:

average_gamesposition = myDataFrame.groupby(['Pos'])['G'].mean()

# Display the result
print(average_gamesposition)

Pos
CB     29.777778
DB     32.333333
DE     72.000000
DL      6.000000
DT     40.750000
FS      4.000000
G      67.000000
ILB    24.000000
LB     24.333333
OL     23.666667
OLB    20.000000
P      21.000000
QB      8.500000
RB     32.500000
S      38.428571
T      52.250000
TE     43.000000
WR     50.142857
Name: G, dtype: float64

In [37]:
# Filter for first-round picks
first_round_picks = myDataFrame[myDataFrame['Rnd'] == 1]

# Count the number of first-round picks
num_first_round_picks = len(first_round_picks)

print(f"Number of first-round picks: {num_first_round_picks}")

Number of first-round picks: 12

In [48]:
position_groups = {
    'C': ('Lineman', 'Offense'), 'DE': ('Lineman', 'Defense'), 'DL': ('Lineman', 'Defense'),
    'DT': ('Lineman', 'Defense'), 'FB': ('Lineman', 'Offense'), 'G': ('Lineman', 'Offense'),
    'OL': ('Lineman', 'Offense'), 'T': ('Lineman', 'Offense'),

    'LB': ('Mids', 'Defense'), 'OLB': ('Mids', 'Defense'),'ILB': ('Mids', 'Defense'),
    'P': ('Mids', 'Special Teams'), 'K': ('Mids', 'Special Teams'),'LS': ('Mids', 'Special Teams'),'TE': ('Mids', 'Offense'), 'RB': ('Mids', 'Offense'),

    'CB': ('Skills', 'Defense'), 
    'FS': ('Skills', 'Defense'),
    'DB': ('Skills', 'Defense'),
    'QB': ('Skills', 'Offense'),
    'S': ('Skills', 'Defense'), 'SAF': ('Skills', 'Defense'),
    'WR': ('Skills', 'Offense')
}

In [50]:
position_groups

{'C': ('Lineman', 'Offense'),
 'DE': ('Lineman', 'Defense'),
 'DL': ('Lineman', 'Defense'),
 'DT': ('Lineman', 'Defense'),
 'FB': ('Lineman', 'Offense'),
 'G': ('Lineman', 'Offense'),
 'OL': ('Lineman', 'Offense'),
 'T': ('Lineman', 'Offense'),
 'LB': ('Mids', 'Defense'),
 'OLB': ('Mids', 'Defense'),
 'ILB': ('Mids', 'Defense'),
 'P': ('Mids', 'Special Teams'),
 'K': ('Mids', 'Special Teams'),
 'LS': ('Mids', 'Special Teams'),
 'TE': ('Mids', 'Offense'),
 'RB': ('Mids', 'Offense'),
 'CB': ('Skills', 'Defense'),
 'FS': ('Skills', 'Defense'),
 'DB': ('Skills', 'Defense'),
 'QB': ('Skills', 'Offense'),
 'S': ('Skills', 'Defense'),
 'SAF': ('Skills', 'Defense'),
 'WR': ('Skills', 'Offense')}

In [52]:
# Map positions to group and side
myDataFrame['Group'] = myDataFrame['Pos'].map(lambda x: position_groups[x][0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda x: position_groups[x][1])

In [54]:
grouped_counts = myDataFrame.groupby(['Group', 'Side']).size()
print(grouped_counts)

Group    Side
Lineman  Defense          16
         Offense          14
Mids     Defense           9
         Offense          10
         Special Teams     1
Skills   Defense          21
         Offense          10
dtype: int64

In [56]:
# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

total_players = len(myDataFrame)

num_above_34 = len(players_above_34)

percentage_above_34 = (num_above_34 / total_players) * 100
print(f"Percentage of players who played more than 34 games: {percentage_above_34:.2f}%")

Percentage of players who played more than 34 games: 41.98%

In [60]:
# Map positions to group categories (Bigs, Mids, Skills)
position_groups = {
    'C': 'Lineman', 'DE': 'Lineman', 'DL': 'Lineman', 'DT': 'Lineman',
    'FB': 'Lineman', 'G': 'Lineman', 'OL': 'Lineman', 'T': 'Lineman',
    'LB': 'Mids', 'OLB': 'Mids', 'P': 'Mids', 'TE': 'Mids',
    'CB': 'Skills', 'DB': 'Skills', 'QB': 'Skills',
    'RB': 'Skills', 'S': 'Skills', 'SAF': 'Skills', 'WR': 'Skills'
}

# Add the 'Group' column to the DataFrame
myDataFrame['Group'] = myDataFrame['Pos'].map(position_groups)

# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

# Group by round and position group to calculate the number of players who played more than 34 games
grouped_above_34 = players_above_34.groupby(['Rnd', 'Group']).size()

# Group by round and position group to get total number of players
total_grouped = myDataFrame.groupby(['Rnd', 'Group']).size()

# Calculate the percentage of players who played more than 34 games by round and group
percentage_above_34 = (grouped_above_34 / total_grouped) * 100
print(percentage_above_34)


above34count = (grouped_above_34)
print(above34count)

Rnd  Group
1    Lineman     66.666667
     Mids              NaN
     Skills      57.142857
2    Lineman     75.000000
     Mids              NaN
     Skills      66.666667
3    Lineman     62.500000
     Mids       100.000000
     Skills      60.000000
4    Lineman     80.000000
     Mids       100.000000
     Skills      22.222222
5    Lineman     50.000000
     Mids        25.000000
     Skills      75.000000
6    Mids              NaN
     Skills            NaN
7    Lineman     25.000000
     Skills            NaN
dtype: float64
Rnd  Group
1    Lineman    2
     Skills     4
2    Lineman    3
     Skills     2
3    Lineman    5
     Mids       1
     Skills     3
4    Lineman    4
     Mids       1
     Skills     2
5    Lineman    1
     Mids       1
     Skills     3
7    Lineman    2
dtype: int64