In [2]:
import pandas as pd

In [4]:
myDataFrame = pd.read_csv("./data/panthers.csv", index_col= "Player")
myDataFrame.head()

,Year,Rnd,Pick,Pos,To,AP1,PB,St,wAV,G,...,Att.1,Yds.1,TD.1,Rec,Yds.2,TD.2,Int.1,Sk,College/Univ,-9999
Player,,,,,,,,,,,,,,,,,,,,,
Xavier Legette,2024,1,32,WR,2024.0,0,0,1,0.0,12.0,...,5.0,22.0,0.0,37.0,393.0,4.0,NaN,NaN,South Carolina,LegeXa00
Jonathon Brooks,2024,2,46,RB,2024.0,0,0,0,0.0,2.0,...,8.0,25.0,0.0,3.0,23.0,0.0,NaN,NaN,Texas,BrooJo02
Trevin Wallace,2024,3,72,LB,2024.0,0,0,1,0.0,12.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,1.0,Kentucky,WallTr00
Ja'Tavion Sanders,2024,4,101,TE,2024.0,0,0,0,0.0,11.0,...,NaN,NaN,0.0,29.0,302.0,1.0,NaN,NaN,Texas,SandJa01
Chau Smith-Wade,2024,5,157,DB,2024.0,0,0,0,0.0,11.0,...,NaN,NaN,0.0,NaN,NaN,0.0,1.0,NaN,Washington St.,SmitCh05

In [6]:
position = myDataFrame ["Pos"]
position

Player
Xavier Legette          WR
Jonathon Brooks         RB
Trevin Wallace          LB
Ja'Tavion Sanders       TE
Chau Smith-Wade         DB
                      ...
Shaq Thompson          OLB
Devin Funchess          TE
Daryl Williams           G
David Mayo              LB
Cameron Artis-Payne     RB
Name: Pos, Length: 68, dtype: object

In [8]:
games = myDataFrame ["G"]
games

Player
Xavier Legette          12.0
Jonathon Brooks          2.0
Trevin Wallace          12.0
Ja'Tavion Sanders       11.0
Chau Smith-Wade         11.0
                       ...
Shaq Thompson          123.0
Devin Funchess          62.0
Daryl Williams          89.0
David Mayo             132.0
Cameron Artis-Payne     32.0
Name: G, Length: 68, dtype: float64

In [10]:
sortedGames = games.sort_values()
sortedGames.head()

Player
Jonathon Brooks    2.0
Will Grier         2.0
Kalon Barnes       2.0
Deonte Brown       3.0
Terry Godwin       3.0
Name: G, dtype: float64

In [12]:
myDataFrame["G"].max()

132.0

In [14]:
draft_columns = [ 'G', 'Pos', 'Rnd', 'Year', 'Pick']
myDataFrame[draft_columns]

                         G  Pos  Rnd  Year  Pick
Player
Xavier Legette        12.0   WR    1  2024    32
Jonathon Brooks        2.0   RB    2  2024    46
Trevin Wallace        12.0   LB    3  2024    72
Ja'Tavion Sanders     11.0   TE    4  2024   101
Chau Smith-Wade       11.0   DB    5  2024   157
...                    ...  ...  ...   ...   ...
Shaq Thompson        123.0  OLB    1  2015    25
Devin Funchess        62.0   TE    2  2015    41
Daryl Williams        89.0    G    4  2015   102
David Mayo           132.0   LB    5  2015   169
Cameron Artis-Payne   32.0   RB    5  2015   174

[68 rows x 5 columns]

In [16]:

average_gamesround = myDataFrame.groupby(['Rnd'])['G'].mean()

# Display the result
print(average_gamesround)

Rnd
1    67.800000
2    66.545455
3    34.125000
4    43.444444
5    35.545455
6    37.428571
7    36.833333
Name: G, dtype: float64

In [18]:

average_gamesposition = myDataFrame.groupby(['Pos'])['G'].mean()

# Display the result
print(average_gamesposition)

Pos
CB      46.666667
DB      26.500000
DE      47.750000
DT      43.200000
FB      78.000000
G       78.666667
ILB     62.000000
K      116.000000
LB      47.400000
LS            NaN
OL      27.666667
OLB     73.000000
QB      13.500000
RB      40.000000
S       43.000000
T       43.000000
TE      57.000000
WR      44.857143
Name: G, dtype: float64

In [49]:
# Filter for first-round picks
first_round_picks = myDataFrame[myDataFrame['Rnd'] == 1]

# Count the number of first-round picks
num_first_round_picks = len(first_round_picks)

print(f"Number of first-round picks: {num_first_round_picks}")

Number of first-round picks: 10

In [22]:
position_groups = {
    'C': ('Lineman', 'Offense'), 'DE': ('Lineman', 'Defense'), 'DL': ('Lineman', 'Defense'),
    'DT': ('Lineman', 'Defense'), 'FB': ('Lineman', 'Offense'), 'G': ('Lineman', 'Offense'),
    'OL': ('Lineman', 'Offense'), 'T': ('Lineman', 'Offense'),

    'LB': ('Mids', 'Defense'), 'OLB': ('Mids', 'Defense'),'ILB': ('Mids', 'Defense'),
    'P': ('Mids', 'Special Teams'), 'K': ('Mids', 'Special Teams'),'LS': ('Mids', 'Special Teams'),'TE': ('Mids', 'Offense'), 'RB': ('Mids', 'Offense'),

    'CB': ('Skills', 'Defense'), 'DB': ('Skills', 'Defense'),
    'QB': ('Skills', 'Offense'),
    'S': ('Skills', 'Defense'), 'SAF': ('Skills', 'Defense'),
    'WR': ('Skills', 'Offense')
}

In [26]:
position_groups

{'C': ('Lineman', 'Offense'),
 'DE': ('Lineman', 'Defense'),
 'DL': ('Lineman', 'Defense'),
 'DT': ('Lineman', 'Defense'),
 'FB': ('Lineman', 'Offense'),
 'G': ('Lineman', 'Offense'),
 'OL': ('Lineman', 'Offense'),
 'T': ('Lineman', 'Offense'),
 'LB': ('Mids', 'Defense'),
 'OLB': ('Mids', 'Defense'),
 'ILB': ('Mids', 'Defense'),
 'P': ('Mids', 'Special Teams'),
 'K': ('Mids', 'Special Teams'),
 'LS': ('Mids', 'Special Teams'),
 'TE': ('Mids', 'Offense'),
 'RB': ('Mids', 'Offense'),
 'CB': ('Skills', 'Defense'),
 'DB': ('Skills', 'Defense'),
 'QB': ('Skills', 'Offense'),
 'S': ('Skills', 'Defense'),
 'SAF': ('Skills', 'Defense'),
 'WR': ('Skills', 'Offense')}

In [30]:
# Map positions to group and side
myDataFrame['Group'] = myDataFrame['Pos'].map(lambda x: position_groups[x][0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda x: position_groups[x][1])

In [36]:
grouped_counts = myDataFrame.groupby(['Group', 'Side']).size()
print(grouped_counts)

Group    Side
Lineman  Defense          11
         Offense          10
Mids     Defense          10
         Offense          10
         Special Teams     2
Skills   Defense          15
         Offense          10
dtype: int64

In [40]:
# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

total_players = len(myDataFrame)

num_above_34 = len(players_above_34)

percentage_above_34 = (num_above_34 / total_players) * 100
print(f"Percentage of players who played more than 34 games: {percentage_above_34:.2f}%")

Percentage of players who played more than 34 games: 45.59%

In [44]:
# Map positions to group categories (Bigs, Mids, Skills)
position_groups = {
    'C': 'Lineman', 'DE': 'Lineman', 'DL': 'Lineman', 'DT': 'Lineman',
    'FB': 'Lineman', 'G': 'Lineman', 'OL': 'Lineman', 'T': 'Lineman',
    'LB': 'Mids', 'OLB': 'Mids', 'P': 'Mids', 'TE': 'Mids',
    'CB': 'Skills', 'DB': 'Skills', 'QB': 'Skills',
    'RB': 'Skills', 'S': 'Skills', 'SAF': 'Skills', 'WR': 'Skills'
}

# Add the 'Group' column to the DataFrame
myDataFrame['Group'] = myDataFrame['Pos'].map(position_groups)

# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

# Group by round and position group to calculate the number of players who played more than 34 games
grouped_above_34 = players_above_34.groupby(['Rnd', 'Group']).size()

# Group by round and position group to get total number of players
total_grouped = myDataFrame.groupby(['Rnd', 'Group']).size()

# Calculate the percentage of players who played more than 34 games by round and group
percentage_above_34 = (grouped_above_34 / total_grouped) * 100
print(percentage_above_34)


above34count = (grouped_above_34)
print(above34count)

Rnd  Group
1    Lineman    100.000000
     Mids       100.000000
     Skills      40.000000
2    Lineman     66.666667
     Mids       100.000000
     Skills      71.428571
3    Lineman     50.000000
     Mids        33.333333
     Skills      25.000000
4    Lineman     50.000000
     Mids        40.000000
     Skills      50.000000
5    Lineman           NaN
     Mids       100.000000
     Skills      25.000000
6    Lineman     42.857143
     Skills            NaN
7    Lineman           NaN
     Mids              NaN
     Skills            NaN
dtype: float64
Rnd  Group
1    Lineman    4
     Mids       1
     Skills     2
2    Lineman    2
     Mids       1
     Skills     5
3    Lineman    1
     Mids       1
     Skills     1
4    Lineman    1
     Mids       2
     Skills     1
5    Mids       2
     Skills     2
6    Lineman    3
dtype: int64