In [2]:
import pandas as pd

In [4]:
myDataFrame = pd.read_csv("./data/colts.csv", index_col= "Player")
myDataFrame.head()

,Year,Rnd,Pick,Pos,To,AP1,PB,St,wAV,G,...,Att.1,Yds.1,TD.1,Rec,Yds.2,TD.2,Int.1,Sk,College/Univ,-9999
Player,,,,,,,,,,,,,,,,,,,,,
Laiatu Latu,2024,1,15,DL,2024.0,0,0,0,0.0,13.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,4.0,UCLA,LatuLa00
Adonai Mitchell,2024,2,52,WR,2024.0,0,0,1,0.0,13.0,...,3.0,16.0,0.0,20.0,254.0,0.0,NaN,NaN,Texas,MitcAd00
Matt Goncalves,2024,3,79,OL,2024.0,0,0,0,0.0,13.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Pittsburgh,GoncMa00
Tanor Bortolini,2024,4,117,OL,2024.0,0,0,0,0.0,9.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Wisconsin,BortTa00
Anthony Gould,2024,5,142,WR,2024.0,0,0,0,0.0,4.0,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,Oregon St.,GoulAn00

In [6]:
position = myDataFrame ["Pos"]
position

Player
Laiatu Latu          DL
Adonai Mitchell      WR
Matt Goncalves       OL
Tanor Bortolini      OL
Anthony Gould        WR
                   ...
Clayton Geathers      S
David Parry          NT
Josh Robinson        RB
Amarlo Herrera      ILB
Denzelle Good         T
Name: Pos, Length: 90, dtype: object

In [8]:
games = myDataFrame ["G"]
games

Player
Laiatu Latu         13.0
Adonai Mitchell     13.0
Matt Goncalves      13.0
Tanor Bortolini      9.0
Anthony Gould        4.0
                    ...
Clayton Geathers    56.0
David Parry         36.0
Josh Robinson        5.0
Amarlo Herrera       3.0
Denzelle Good       62.0
Name: G, Length: 90, dtype: float64

In [10]:
sortedGames = games.sort_values()
sortedGames.head()

Player
Gerri Green        1.0
Javon Patterson    1.0
Shawn Davis        1.0
Evan Hull          2.0
Jacob Eason        2.0
Name: G, dtype: float64

In [12]:
myDataFrame["G"].max()

120.0

In [14]:
draft_columns = [ 'G', 'Pos', 'Rnd', 'Year', 'Pick']
myDataFrame[draft_columns]

                     G  Pos  Rnd  Year  Pick
Player
Laiatu Latu       13.0   DL    1  2024    15
Adonai Mitchell   13.0   WR    2  2024    52
Matt Goncalves    13.0   OL    3  2024    79
Tanor Bortolini    9.0   OL    4  2024   117
Anthony Gould      4.0   WR    5  2024   142
...                ...  ...  ...   ...   ...
Clayton Geathers  56.0    S    4  2015   109
David Parry       36.0   NT    5  2015   151
Josh Robinson      5.0   RB    6  2015   205
Amarlo Herrera     3.0  ILB    6  2015   207
Denzelle Good     62.0    T    7  2015   255

[90 rows x 5 columns]

In [18]:

average_gamesround = myDataFrame.groupby(['Rnd'])['G'].mean()

# Display the result
print(average_gamesround)

Rnd
1    70.714286
2    52.933333
3    48.818182
4    47.769231
5    35.437500
6    14.900000
7    44.416667
Name: G, dtype: float64

In [20]:

average_gamesposition = myDataFrame.groupby(['Pos'])['G'].mean()

# Display the result
print(average_gamesposition)

Pos
C      70.333333
CB     46.200000
DB     16.500000
DE     60.750000
DL     31.800000
DT     59.250000
G      86.000000
ILB    25.000000
LB     68.900000
NT     36.000000
OL     25.000000
OLB    41.000000
QB      7.666667
RB     43.333333
S      51.000000
SAF          NaN
T      49.400000
TE     29.500000
WR     33.000000
Name: G, dtype: float64

In [22]:
# Filter for first-round picks
first_round_picks = myDataFrame[myDataFrame['Rnd'] == 1]

# Count the number of first-round picks
num_first_round_picks = len(first_round_picks)

print(f"Number of first-round picks: {num_first_round_picks}")

Number of first-round picks: 7

In [32]:
position_groups = {
    'C': ('Lineman', 'Offense'), 'DE': ('Lineman', 'Defense'), 'DL': ('Lineman', 'Defense'),
    'DT': ('Lineman', 'Defense'),'NT': ('Lineman', 'Defense'),
    'FB': ('Lineman', 'Offense'), 'G': ('Lineman', 'Offense'),
    'OL': ('Lineman', 'Offense'), 'T': ('Lineman', 'Offense'),

    'LB': ('Mids', 'Defense'), 'OLB': ('Mids', 'Defense'),'ILB': ('Mids', 'Defense'),
    'P': ('Mids', 'Special Teams'), 'K': ('Mids', 'Special Teams'),'LS': ('Mids', 'Special Teams'),'TE': ('Mids', 'Offense'), 'RB': ('Mids', 'Offense'),

    'CB': ('Skills', 'Defense'), 'DB': ('Skills', 'Defense'),
    'QB': ('Skills', 'Offense'),
    'S': ('Skills', 'Defense'), 'SAF': ('Skills', 'Defense'),
    'WR': ('Skills', 'Offense')
}

In [34]:
position_groups

{'C': ('Lineman', 'Offense'),
 'DE': ('Lineman', 'Defense'),
 'DL': ('Lineman', 'Defense'),
 'DT': ('Lineman', 'Defense'),
 'NT': ('Lineman', 'Defense'),
 'FB': ('Lineman', 'Offense'),
 'G': ('Lineman', 'Offense'),
 'OL': ('Lineman', 'Offense'),
 'T': ('Lineman', 'Offense'),
 'LB': ('Mids', 'Defense'),
 'OLB': ('Mids', 'Defense'),
 'ILB': ('Mids', 'Defense'),
 'P': ('Mids', 'Special Teams'),
 'K': ('Mids', 'Special Teams'),
 'LS': ('Mids', 'Special Teams'),
 'TE': ('Mids', 'Offense'),
 'RB': ('Mids', 'Offense'),
 'CB': ('Skills', 'Defense'),
 'DB': ('Skills', 'Defense'),
 'QB': ('Skills', 'Offense'),
 'S': ('Skills', 'Defense'),
 'SAF': ('Skills', 'Defense'),
 'WR': ('Skills', 'Offense')}

In [36]:
# Map positions to group and side
myDataFrame['Group'] = myDataFrame['Pos'].map(lambda x: position_groups[x][0])
myDataFrame['Side'] = myDataFrame['Pos'].map(lambda x: position_groups[x][1])

In [38]:
grouped_counts = myDataFrame.groupby(['Group', 'Side']).size()
print(grouped_counts)

Group    Side
Lineman  Defense    15
         Offense    17
Mids     Defense    14
         Offense    10
Skills   Defense    20
         Offense    14
dtype: int64

In [40]:
# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

total_players = len(myDataFrame)

num_above_34 = len(players_above_34)

percentage_above_34 = (num_above_34 / total_players) * 100
print(f"Percentage of players who played more than 34 games: {percentage_above_34:.2f}%")

Percentage of players who played more than 34 games: 52.22%

In [42]:
# Map positions to group categories (Bigs, Mids, Skills)
position_groups = {
    'C': 'Lineman', 'DE': 'Lineman', 'DL': 'Lineman', 'DT': 'Lineman',
    'FB': 'Lineman', 'G': 'Lineman', 'OL': 'Lineman', 'T': 'Lineman',
    'LB': 'Mids', 'OLB': 'Mids', 'P': 'Mids', 'TE': 'Mids',
    'CB': 'Skills', 'DB': 'Skills', 'QB': 'Skills',
    'RB': 'Skills', 'S': 'Skills', 'SAF': 'Skills', 'WR': 'Skills'
}

# Add the 'Group' column to the DataFrame
myDataFrame['Group'] = myDataFrame['Pos'].map(position_groups)

# Filter for players who played more than 34 games
players_above_34 = myDataFrame[myDataFrame['G'] > 34]

# Group by round and position group to calculate the number of players who played more than 34 games
grouped_above_34 = players_above_34.groupby(['Rnd', 'Group']).size()

# Group by round and position group to get total number of players
total_grouped = myDataFrame.groupby(['Rnd', 'Group']).size()

# Calculate the percentage of players who played more than 34 games by round and group
percentage_above_34 = (grouped_above_34 / total_grouped) * 100
print(percentage_above_34)


above34count = (grouped_above_34)
print(above34count)

Rnd  Group
1    Lineman     75.000000
     Skills      66.666667
2    Lineman    100.000000
     Mids       100.000000
     Skills      66.666667
3    Lineman     80.000000
     Mids        50.000000
     Skills      50.000000
4    Lineman     33.333333
     Mids       100.000000
     Skills      80.000000
5    Lineman    100.000000
     Mids        66.666667
     Skills      18.181818
6    Lineman           NaN
     Mids              NaN
     Skills      16.666667
7    Lineman     42.857143
     Mids        75.000000
     Skills            NaN
dtype: float64
Rnd  Group
1    Lineman    3
     Skills     2
2    Lineman    3
     Mids       3
     Skills     6
3    Lineman    4
     Mids       1
     Skills     2
4    Lineman    2
     Mids       1
     Skills     4
5    Lineman    3
     Mids       2
     Skills     2
6    Skills     1
7    Lineman    3
     Mids       3
dtype: int64